<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Mobline</title>

    <meta name="keywords" content="mobline,mob-line,magazin,online,mobila,amenajare,decor,decorațiuni,electrocasnice">
    <meta name="description"
        content="Magazin online de mobilă ce prezintă o gamă de piese de mobilier, electrocasnice și decorațiuni">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>

    <%- include("../fragmente/header.ejs") %>

        <main>

            <div id="grid-pagina">
                <section id="home">
                    <p>Ip: <%- locals.ip %> </p>


                    <article>
                        <h2>Mobline <i class="fa fa-loveseat fa-pulse"></i></h2>
                        <button id= "tema" class="btn btn-primary text-secondary border-success">Schimba tema</button>
                        <!-- <button class="btn btn-secondary text-primary border-success">altceva</button> -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm border border-primary rounded">
                                    Tabel demonstrativ
                                </div>
                                <div class="col-sm border border-primary rounded">
                                    Tabel demonstrativ
                                </div>
                                <div class="col-sm border border-primary rounded">
                                    Tabel demonstrativ
                                </div>
                            </div>
                        </div>
                        <p><em>Magazin online de mobila, decoratiuni si electrocasnice.</em></p>
                        <%- include("../fragmente/galerie.ejs") %>
                        <details>
                            <summary>Intrebari frecvente</summary>
                            <p>Cum se realizeaza transportul? <br> Transportul se realizeaza prin Cargus. Pretul este de
                                14
                                lei pentru comenzile
                                de sub 400 de lei si gratuit pentru comenzile ce depasesc aceasta suma.</p>
                        </details>

                    </article>
                </section>

                <section id="tabel">
                    <h2>Transport</h2>
                    <div class="scrollbar">
                        <table id="transport">
                            <caption>Produsele se pot ridica in mod gratuit din magazinele Mobline</caption>
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>-15kg</th>
                                    <th>15-30kg</th>
                                    <th>+30kg</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>zona 1</th>
                                    <td>19 lei</td>
                                    <td>39 lei</td>
                                    <td>79 lei</td>
                                </tr>
                                <tr>
                                    <th>zona 2</th>
                                    <td>29 lei</td>
                                    <td>49 lei</td>
                                    <td>99 lei</td>
                                </tr>
                                <tr>
                                    <th>zona 3</th>
                                    <td>39 lei</td>
                                    <td>59 lei</td>
                                    <td>129 lei</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Livrarea se realizeaza prin curier.</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>

                <section id="calendar">
                    <h2>Calendar</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </section>

                <section id="anunturi">
                    <h2>Anunturi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>

                <section id="utilizatori">
                    <h2>Utilizatori</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>

                <section id="statistici">
                    <h2>Statistici</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>



                </section>

                <section id="date-site">
                    <h2>Date site</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </section>

                <section id="diverse">
                    <h2 id="mobila">Mobila</h2>
                    <p>Piesele de mobilier disponibile fac parte din <b>categoriile</b>:</p>
                    <ul>
                        <li>Dormitor</li>
                        <li>Living</li>
                        <li>Bucatarie</li>
                        <li>Baie</li>
                        <li>Birou</li>
                        <li>Hol</li>
                        <li>Gradina</li>
                        <li>Copii</li>
                    </ul>
                    <figure>
                        <picture>
                            <source media="(max-width:700px)" srcset="/resurse/imagini/mobila_150.jpg" />
                            <source media="(max-width:900px)" srcset="/resurse/imagini/mobila_350.jpg" />
                            <source media="(max-width:1200px) " srcset="/resurse/imagini/mobila_450.jpg" />
                            <img src="/resurse/imagini/mobila_450.jpg" alt="text" />
                        </picture>
                        <figcaption>Fig.1 - Model decor</figcaption>
                    </figure>
                    <h2 id="electrocasnice">Electrocasnice</h2>
                    <p>De la o plăcintă perfect coaptă la niste haine perfect curatate, <b>electrocasnicele</b>
                        noastre
                        îți
                        fac
                        viața mai ușoară și te
                        ajută să fii mai sustenabil. Având multe funcții inteligente și fiind concepute cu
                        atenție la
                        detalii, aceastea
                        îndeplinesc exigențele fiecărei zi și îmbunătățesc și <i>lookul</i> casei tale.</p>

                    <a href="/resurse/imagini/electrocasnice.jpg" download="imagine">
                        <img src="/resurse/imagini/electrocasnice.jpg" alt="imagine"></a>
                    <h2 id="decoratiuni">Decoratiuni</h2>
                    <p>Pe site-ul nostru puteti gasi o gama variata de piese de <b>decor</b> ce va vor transforma
                        spatiul in
                        locul la care visati. De la vaze și sculpturi la ornamente suspendate și jucării, avem ceva
                        pentru fiecare cameră printre noile noastre preduse.</p>

                    <a href="https://www.nytimes.com/guides/realestate/home-decor-ideas" target="_blank">Informatii
                        despre decor<br></a>

                    <div class="iframe">
                        <a href="https://www.youtube.com/embed/GyBsrDV4f5k" target="ifr-video"><button
                                class="button">Stiluri de design</button></a>

                        <a href="https://www.youtube.com/embed/8Lmp1Ncaa7Y" target="ifr-video"><button
                                class="button">Tendinte in design</button></a>

                        <iframe name="ifr-video" width="420" height="300" style="border:4px solid var(--border-color)"
                            src="https://www.youtube.com/embed/GyBsrDV4f5k" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </section>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs") %>

</body>

</html>